body {
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    background-color: antiquewhite;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display:flex;
    background-color: rgb(51, 102, 168);
    margin-bottom:10px;
    font-size:15px;
    justify-content: center;
    align-items: center;
    color:white;
}

.footer {
    display:flex;
    justify-content: center;
    color:white;
    background-color: rgb(56, 56, 56);
    margin-top:10px;
    margin-bottom:0;
}

.header h1 {
    margin:0;
    padding:10px;
}

.calc-layout {
    display:flex;
    flex-direction: column;
    width: 500px;
    height:700px;
    background-color: rgb(31, 31, 31);
    border: 5px solid black;
    border-radius:20px;
    justify-content: space-around;
}

.display {
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    color:white;
    padding:20px;
    font-size:50px;
    background-color:rgb(26, 26, 26);
    margin: 0px 15px 0px 15px;
    border: 1px solid rgb(65, 65, 65);
    border-radius:20px;
    min-height:80px;
}

.display p {
    margin:0;
    font-size:20px;
    color: rgb(184, 184, 184);
}

.equation {
    display:flex;
}

.buttons {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    gap:10px;
    margin:0px 20px 0px 20px;
}

.buttons button {
    width:100px;
    height:100px;
    flex-grow:1;
    border-radius:50%;
    background-color:rgb(190, 190, 190);
    border: none;
    font-weight:900;
    font-size:20px;
}

button:disabled {
    background-color:rgb(117, 117, 117);
}

button:disabled:hover {
    background-color:rgb(117, 117, 117) !important;
}

.buttons button:hover {
    background-color:rgb(122, 122, 122);
}

.buttons #delete {
    background-color:rgb(167, 66, 66);
}

.buttons #delete:hover {
    background-color:rgb(128, 47, 47);
}

.buttons #equals {
    background-color:rgb(78, 167, 66);
}

.buttons #equals:hover {
    background-color:rgb(47, 128, 58);
}

.buttons #clear {
    background-color:rgb(167, 157, 66);
}

.buttons #clear:hover {
    background-color:rgb(127, 128, 47);
}